# Environment variables
.env
*.env

# Python
.venv/
venv/
__pycache__/
*.pyc

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Flutter / Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db